/*do caratteristiche comuni per tutta la pagina*/
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


/*do le proprietà alla row per il float delle colonne*/
.row::after{
  clear: both;
  content: "";
  display: table;
}
/*do proprietà comuni a tutte le col*/
.col{
  float: left;
  position: relative;
}
/*do caratteristiche alla row sopra*/

.row-top{
  background-color: #e0f3ff;
  height: 100px;
  width: 100%;
  padding-left: 150px;
  padding-right: 150px;

}
/*do proprietà alla prima colonna*/
.col-lang{
  width: 30%;
  height: 100px;

}
/*do proprietà al primo box perchè stia al centro del contenitore*/
.box-lang{
  height: 50px;
  width: 150px;
  float: left;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}
/*inserisco proprietà alla dropdown per affiancare il button*/
.drop-login{
  float: left;
  padding-right: 5px;
  border-right: 1px solid black;
  margin-right: 5px;
}
.drop-login > select{
  background-color: #e0f3ff;
  border: none;
}
.lang{
  border: none;
}
/*metto in mezzo ma spostati a sinistra gli elementi rispetto al contenitore*/
.drop-login, .lang{
  float: left;
  position: relative;
  top: 50%;
  transform: translate(0%, -50%);
  background-color: #e0f3ff;
}

/*do proprietà alla seconda colonna della row*/
.col-login{
  width: 70%;
  height: 100px;
}
/*do proprietà al box perchè stia in mezzo ma spostato verso destra*/
.box-login{
  height: 50px;
  width: 300px;
  position: absolute;
  top: 25px;
  right: 10px;
}
/*inserisco i bottoni in mezzo spostati a destra rispetto al loro contenitore*/
.box-login > button {
  float: right;
  position: relative;
  top: 50%;
  transform: translate(0%, -50%);
  padding: 5px;
}
#redbtn{
  border: solid #ff7a59;
  background-color: #ff7a59;
  color: white;
}
#borderbtn{
  background-color: #e0f3ff;
  color: #ff7a59;
  border-color: #ff7a59;
  border-style: solid;
  margin-left: 10px;
  margin-right: 10px;
}
#search{
  border: none;
  color: blue;
  background-color:#e0f3ff;
}
/*do proprietà alla row nav*/
.row-nav{
  height: 100px;
  background-color: white;
  width: 100%;
  padding-left: 150px;
  padding-right: 150px;
}
/*do proprietà alla prima col della row nav*/
.col-logo{
  width: 30%;
  height: 100px;
}

/*do proprietà al box perchè stia al centro del suo contenitore*/
.box-logo{
  height: 50px;
  background-color: white;
  width: 50%;
  float: left;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}
/*do proprietà al logo*/
.box-logo img{
  width: 100%;
  height: 100%;
  text-align: left;
}
/*do proprietà alla seconda col della row nav*/
.col-nav{
  width: 70%;
  height: 100px;
}
/*do proprietà aò box perchè stia in mezzo ma verso destra*/
.box-nav{
  height: 50px;
  width: 70%;
  background-color: white;
  float: right;
  position: relative;
  top:50%;
  transform: translate(0%, -50%);
}
/*do proprietà alla drop-nav*/
.drop-nav{
  float: right;
  background-color: white;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}
.drop-nav > select{
  border:none;
}
/*do proprietà solo al button della nav senza dropdown*/
#pricebtn{
  border: none;
  background-color: white;
}
/*do proprietà alla row contenente il testo e l'img di sfondo*/
.row-immagine{
  height: 700px;
  width: 100%;
  background-color: #edcef0;
  position: relative;
}
/*do proprietà alla box sovrapposta all'img*/
.box-nextimg{
  height: 500px;
  width: 50%;
  border: 3px solid black;
  position: absolute;
  top:50px;
  left:150px;
}
/*do proprietà alla row della linea che separa le sezioni*/
.row-linea{
  height: 100px;
  width: 100%;
  background-color: #4cedda;
  border: 3px solid black;
}
/*do proprietà al contenitore della aprte centrale della pagina*/
.central{
  width: 100%;
  height: 1400px;
  background-color: lightgrey;
  position: relative;
  padding-left: 150px;
  padding-right: 150px;

}
/*do proprietà alla prima row del central*/
.row-pres{
  width: 100%;
  height: 400px;
  position: relative;
  border-bottom: 2px dotted black;
}
/*do proprietà al primo box della prima row affinchè stia al centro del contenitore*/
.central .box-cube{
  height: 100px;
  background-color: red;
  border: 5px solid blue;
  width: 100px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*do proprietà al secondo box della prima row affinchè stia in centro*/
.central .box-slog{
  height: 150px;
  width: 80%;
  border: 2px solid black;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*do proprietà alla seconda row del central*/
.row-free{
  width: 100%;
  height: 300px;
  position: relative;
}
/*do proprietà al box della row che è suddiviso in due colonne*/
.row-free .box-free{
  background-color: white;
  height: 200px;
  width: 100%;
  border: 5px solid black;
  border-radius: 5px;

}
/*do proprietà alle due colonne del box*/
.row-free .col-learn{
  background-color: red;
  border-right: 2px dotted black;
  height: 100%;
  width: 30%;
}
.row-free .col-feat{
  background-color: yellow;
  height:100%;
  width: 70%;
}
/*do proprietà alle tre colonne della terza row*/
.col-mark, .col-sales, .col-service{
  width: 30%;
  height: 600px;
  background-color: pink;
  border: 2px dotted grey;

}
/*do i margini alla colonna centrake*/
.col-sales{
  margin-left: 40px;
  margin-right: 40px;
}
/*do proprietà alla row contenente la descrizione e la table*/
.row-n{
  background-color: #3dc4b4;
  width: 100%;
  height: 700px;
  padding-left: 200px;
  padding-right: 200px;
  position: relative;
}
/*do proprietà alla row con la descrizione*/
.row-desc{
  height: 200px;
  width: 700px;
  border: 2px solid black;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*do proprietà alla row con la table*/
.row-table{
  height: 350px;
  width: 900px;
  border: 2px solid black;
  position: absolute;
  top:70%;
  left: 50%;
  transform: translate(-50%, -50%);

}
/*do proprietà alla row in basso che è suddivisa in 2 colonne*/
.row-bottom{
  height: 700px;
  width: 100%;
  background-color: white;
}
.col-custom{
  width: 40%;
  height: 600px;
  border-right: 3px solid black;

}
.col-sponsor{
  width: 60%;
  height: 600px;
}
/*do proprietà alla row del footer*/
.row-footer{
  height: 700px;
  width: 100%;
  background-color: #104578;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 30px;
}
/*do proprietà comuni alle 4 col*/
.col-tra, .col-con, .col-manage, .col-sup{
  width: 20%;
  height: 350px;
  border: 2px solid black;

}
/*do proprietà a 3 col per i margin*/
.col-con,.col-sup, .col-manage{
  margin-left: 40px;
}
