/*do caratteristiche comuni per tutta la pagina*/
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
h1, h2, h3, p, li{
  font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
}
/*lineheight a tutte le p della pagina*/
p{
  line-height: 30px;
}
/*do le proprietà alla row per il float delle colonne*/
.row::after{
  clear: both;
  content: "";
  display: table;
}
/*do proprietà comuni a tutte le col*/
.col{
  float: left;
  position: relative;
}
/*HEADER*/
/*PRIMA SEZIONE*/
/* do caratteristiche alla row sopra*/
.row-top{
  background-color: #ebf2fc;
  height: 100px;
  width: 100%;
  padding-left: 150px;
  padding-right: 150px;
}
/*do proprietà alla prima colonna*/
.col-lang{
  width: 30%;
  height: 100px;
}
/*do proprietà al primo box perchè stia al centro del contenitore*/
.box-lang{
  height: 50px;
  width: 150px;
  float: left;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}
/*do proprietà all'icon vicina alla selezione lingua*/
.topglobe{
  float: left;
  position: relative;
  top: 50%;
  transform: translate(0%, -50%);
}
/*inserisco proprietà alla dropdown per affiancare il button*/
.drop-login{
  float: left;
  padding-right: 5px;
  border-right: 1px solid black;
  margin-right: 5px;
  position: relative;
  top: 50%;
  transform: translate(0%, -50%);
  background-color: #ebf2fc;
}
/*do proprietà ai due bottoni sulla sonostra della prima row*/
.drop-login select{
  background-color: #ebf2fc;
  border: none;
}
.lang{
  border: none;
  float: right;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  background-color: #ebf2fc;
}
/*do proprietà alla seconda colonna della row*/
.col-login{
  width: 70%;
  height: 100px;
}
/*do proprietà al box perchè stia in mezzo ma spostato verso destra*/
.box-login{
  height: 50px;
  width: 300px;
  position: absolute;
  top: 25px;
  right: 10px;
}
/*inserisco i bottoni in mezzo spostati a destra rispetto al loro contenitore*/
.box-login button {
  float: right;
  position: relative;
  top: 50%;
  transform: translate(0%, -50%);
  padding: 5px;
}
/*do proprietà al bottone rosso che condivide le caratteristiche con quello nella aprte centrale della pagina*/
.redbtn{
  border: solid #ff7a59;
  background-color: #ff7a59;
  color: white;
  border-radius: 5px;
}
/*do proprietà agli altri bottoni*/
#borderbtn{
  background-color: #ebf2fc;
  color: #ff7a59;
  border-color: #ff7a59;
  border-style: solid;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
}
#search{
  border: none;
  color: lightblue;
  background-color:#ebf2fc;
}
/*SECONDA SEZIONE*/
/*do proprietà alla row nav*/
.row-nav{
  height: 100px;
  background-color: white;
  width: 100%;
  padding-left: 150px;
  padding-right: 150px;
}
/*do proprietà alla prima col della row nav*/
.col-logo{
  width: 30%;
  height: 100px;
}
/*do proprietà al box perchè stia al centro del suo contenitore*/
.box-logo{
  height: 50px;
  background-color: white;
  width: 50%;
  float: left;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}
/*do proprietà al logo*/
.box-logo img{
  width: 100px;
  height: 100%;
  text-align: left;
}
/*do proprietà alla seconda col della row nav*/
.col-nav{
  width: 70%;
  height: 100px;
}
/*do proprietà aò box perchè stia in mezzo ma verso destra*/
.box-nav{
  height: 50px;
  width: 70%;
  background-color: white;
  float: right;
  position: relative;
  top:50%;
  transform: translate(0%, -50%);
}
/*do proprietà alla drop-nav*/
.drop-nav{
  float: right;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-0%, -50%);
}
.drop-nav select{
  border:none;
}
/*do proprietà solo al button della nav senza dropdown*/
#pricebtn{
  border: none;
  background-color: white;
  font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;"
}
/*TERZA SEZIONE*/
/*do proprietà alla row contenente il testo e l'img di sfondo*/
.row-immagine{
  height: 600px;
  width: 100%;
  position: relative;
}
/*Do proprietà al div con la bg img*/
.background{
  height: 600px;
  width: 100%;
  background-image: url("../img/jumbotron.png");
  background-size: cover;
  background-repeat: no-repeat;
}
/*do proprietà alla box sovrapposta all'img*/
.box-nextimg{
  height: 500px;
  width: 40%;
  position: absolute;
  top:50px;
  left:150px;
}
/*do proprietà all'elemento h2*/
.box-nextimg h1{
  font-size: 50px;
  line-height: 50px;
}
/*do proprietà all'elemento h2 e p*/
.box-nextimg h1, .box-nextimg p{
  text-align: left;
}
/*do proprietà all'ultimo p del box*/
.box-nextimg p:last-child{
  padding-right: 150px;
  font-size: 13px;
}
/*do proprietà al bottone dentro il box*/
.box-nextimg .redbtn{
  padding: 20px;
  border-radius: 5px;
}
/*QUARTA SEZIONE*/
/*do proprietà alla row della linea che separa le sezioni*/
.row-linea{
  height: 100px;
  width: 100%;
  background-color: #4cedda;
  border: 3px solid black;
}
/*MAIN*/
/*QUINTA SEZIONE*/
/*do proprietà al contenitore della aprte centrale della pagina*/
.central{
  width: 100%;
  height: 1400px;
  background-color: #ebf2fc;
  position: relative;
  padding-left: 150px;
  padding-right: 150px;
}
/*do proprietà alla prima row del central*/
.row-pres{
  width: 100%;
  height: 400px;
  position: relative;
}
/*do proprietà al primo box della prima row affinchè stia al centro del contenitore*/
.central .box-cube{
  height: 100px;
  width: 100px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-75%, -50%);
}
/*do proprietà all'immagine del cubo*/
.box-cube img{
  width: 200px;
  height: 150px;
  float: left;
}
/*do proprietà al secondo box della prima row affinchè stia in centro*/
.central .box-slog{
  height: 150px;
  width: 100%;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*do proprietà ai testi dentro alla box*/
.box-slog > h1{
  font-size: 30px;
}
.box-slog > h1, .box-slog> p{

  text-align: center;
}
/*do proprietà alla seconda row del central*/
.row-free{
  width: 100%;
  height: 300px;
  position: relative;
  background-color: white;
}
/*do proprietà al box della row che è suddiviso in due colonne*/
.row-free .box-free{
  height: 100%;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 2px 2px lightgrey;
}
/*do proprietà alle due colonne del box*/
.row-free .col-learn{
  height: 100%;
  width: 30%;
}
/*do proprietà alla box dell'img*/
.row-free .col-feat{
  height:100%;
  width: 70%;
  margin-top: 30px;
}
/*do proprietà all'immagine libro*/
.col-learn img{
  width: 40%;
  height: 40%;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
}
/*do proprietà al bottone sotto l'img*/
.box-free .redbtn{
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -75%);
  padding: 20px;
}
/*do proprietà agòi h3 e alle p*/
.col-feat h3, .col-feat p{
  margin-top: 10px;
  margin-right: 10px;
  text-align: left;
  line-height: 35px;
}
.box-free h3{
  display: inline-block;
}
/*do proprietà all'hr*/
.box-free hr{
  width: 60%;
  border: 1px solid grey;
  background-color: grey;
  display: inline-block;
  margin-bottom: 5px;
  margin-left: 30px;
}
/*do proprietà inline alla p*/
.col-feat p{
  display: inline;
}
/*do proprietà al box con la lista e agli elementi della lista*/
.popf{
  margin-top: 20px;
}
.popf li{
  display: inline-block;
  list-style: none;
  margin-right: 20px;
}
.popf i{
  margin-right: 10px;
}
.col-feat .fa-check-circle:before{
  color: #ff7a59;}
  .row-exp{
    width: 100%;
    height: 600px;
    position: relative;
  }
  /*do proprietà alla box superiore con l'img delle tre col*/
  .centerimg{
    width: 100%;
    height: 55%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
  }
  .testo{
    width: 100%;
    height: 35%;
  }
  /*do proprietà alla box inferiore con il bottone delle tre col*/
  .centerbtn{
    width: 100%;
    height: 40%;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
  }
  /*do proprietà al bottone nelle col*/
  .centerbtn .redbtn{
    padding: 20px;
    border-radius: 5px;
    margin-top: 30px;
  }
  /*do proprietà all'img*/
  .centerimg img{
    width: 25%;
  }
  /*do proprietà alle tre colonne della terza row*/
  .col-mark, .col-sales, .col-service{
    width: 30%;
    height: 600px;
    background-color: white;
    margin-top: 40px;
    position: relative;
    box-shadow: 0 0 2px 2px lightgrey;
  }
  /*do i margini alla colonna centrake*/
  .col-sales{
    margin-left: 50px;
    margin-right: auto;
  }
  /*do proprietà all'hr*/
  .centerimg hr{
    border: 1px solid grey;
    background-color: grey;
  }
  /*do proprietà alla terza colonna*/
  .col-service{
    float: right;
  }
  /*do proprietà a tutti gli elementi dentro ai box*/
  *.centerimg{
    padding-left: 20px;
    padding-right: 20px;
  }
  *.centerbtn{
    padding-left: 20px;
    padding-right: 20px;
  }
  /*do proprietà agli elementi della lista*/
  .centerbtn .fa-check-circle:before{
    color: #ff7a59;
  }
  .left i{
    margin-right: 10px;
  }
  .left li{
    list-style: none;
    text-align: left;
    text-decoration: none;
  }
  /*SESTA SEZIONE*/
  /*do proprietà alla row contenente la descrizione e la table*/
  .row-n{
    background-image: linear-gradient(to right, #59afbd, #61c2a5);
    width: 100%;
    height: 700px;
    padding-left: 200px;
    padding-right: 200px;
    position: relative;
  }
  /*do proprietà alla row con la descrizione*/
  .row-desc{
    height: 200px;
    width: 700px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }
  /*do proprietà ai testi della row*/
  .row-desc h2{
    font-size: 30px;
  }
  .row-desc p{
    font-size: 15px;
  }
  /*do proprietà alla row con la table*/
  .row-table{
    height: 350px;
    width: 900px;
    position: absolute;
    top:70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  /*do proprietà alla table*/
  .row-table table{
    width: 100%;
    height: 350px;
    text-align: center;
    color: white;
    table-layout: fixed;

  }
  .row-table h2, .row-table p{
    text-align: center;
  }
  /*do proprietà alle immagini a seconda della loro grandezza*/
  .row-table .Uno{
    width: 30px;
    height: 30px;
    margin-bottom: 30px;
  }
  .row-table .Due{
    width: 60px;
    height: 60px;
  }

  /*do i bordi alle celle*/
  .up td:first-child{
    border-bottom: 1px solid white;
    border-right: 1px solid white;
  }
  .up td:last-child{
    border-bottom: 1px solid white;
    border-left: 1px solid white
  }
  .up td:nth-child(2){
    border-bottom: 1px solid white;

  }
  .up td:nth-child(3){
    border-bottom: 1px solid white;
    border-left: 1px solid white;
  }
  .down td:first-child{
    border-right: 1px solid white;
  }
  .down td:nth-child(3){
    border-left: 1px solid white;
  }
  .down td:last-child{
    border-left: 1px solid white;
  }
  /*SETTIMA SEZIONE*/
  /*do proprietà alla row in basso che è suddivisa in 2 colonne*/
  .row-bottom{
    height: 700px;
    width: 100%;
    background-color: white;
    padding-left: 150px;
    padding-right: 150px;
  }
  /*do proprietà alle col*/
  .col-custom{
    width: 40%;
    height: 500px;
    position: relative;
  }
  .col-sponsor{
    width: 60%;
    height: 500px;
    position: relative;
  }
  /*do proprietà all'img*/
  .col-sponsor img{
    width: 90px;
    height: 90px;
    margin-left: 10px;
    margin-right: 20px;
  }
  /*do proprietà ai box interni*/
  .box-custom{
    width: 50%;
    height: 40%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 30px;
  }
  .box-start{
    width: 100%;
    height: 60%;
    position: absolute;
    top:90%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  /*do proprietà al bottone*/
  .row-bottom .redbtn{
    padding: 20px;
  }
  /*do proprietà ai testi*/
  .box-custom h2{
    font-size: 50px;
  }
  .box-start h2{
    font-size: 30px;
  }
  .box-start p:last-child{
    font-size: 13px;
  }
  /*do proprietà ai box interni alla col*/
  .sponsorbox{
    width: 100%;
    height: 150px;
    float: left;
    margin-top: 30px;
  }
  .boxspot{
    width: 70%;
    height: 350px;
    float: right;
  }
  /*do proprietà all'img*/
  .boxspot img{
    width: 300px;
    height: 350px;
    float: right;
    margin-top: 60px;
  }
  /*OTTAVA SEZIONE*/
  /*do proprietà alla row del footer*/
  .row-footer{
    height: 700px;
    width: 100%;
    background-color: #364354;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 30px;
  }
  /*do proprietà alla prima riga*/
  .row-info{
    width: 100%;
    height: 400px;
  }
  /*do proprietà alla lista e ai suoi elementi*/
  .row-info ul{
    list-style: none;
  }
  .row-info a, .row-end a{
    color: white;
    text-decoration: none;
  }
  /*do proprietà comuni alle 4 col*/
  .col-tra, .col-con, .col-manage, .col-sup{
    width: 20%;
    height: 350px;
    line-height: 30px;
    color: white;
  }
  /*do proprietà a 3 col per i margin*/
  .col-con,.col-sup, .col-manage{
    margin-left: 40px;
  }
  /*do proprietà al bottone dell'ultima col*/
  .col-sup button{
    padding: 10px;
    border-radius: 5px;
    background-color: lightgrey;
    margin-top: 15px;
    border: none;
  }
  /*do proprietà alle icone dell'ultima col*/
  .col-sup i{
    margin-left: 10px;
    margin-right: 15px;
    margin-top: 15px;
  }
  /*do proprietà alla row'*/
  .row-end{
    width: 100%;
    height: 200px;
    position: relative;
  }
  /*do proprietà agli elementi della lista*/
  .row-end li{
    display: inline-block;
    margin-left: 40px;
    color: lightgrey;
  }
  /*do proprietà alla lista*/
  .row-end ul{
    text-align: center;
    margin-bottom: 20px;
  }
  /*do proprietà alla prima col*/
  .col-copy{
    width: 50%;
    height: 150px;
    position: relative;
    margin-top: 30px;
    color: white;
  }
  /*do proprietà all'img dentro la col*/
  .col-copy img{
    width: 100px;
    height: 50px;

  }
  /*do proprietà alla seconda col*/
  .col-pr{
    width: 50%;
    height: 150px;
    position: relative;
    margin-top: 30px;
  }
  /*do proprietà ai testi*/
  .col-pr p{
    display: inline-block;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    color: white;
  }
